
#Profile{
    
    text-align: center;
    
    img{
   border-radius: 100%;
   width: 200px;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   display: block;
    }
    b{
        color: #324e63
    }
}
